<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Checkbox</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <p>Checkboxes allow the selection of multiple options from a set of options. They appear as checked (ticked) when activated.</p>
  </div>
  
  <ion-list>
    <ion-item>
      <ion-checkbox justify="space-between">I agree to the terms and conditions</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox justify="space-between" checked="true">I want to receive emails</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox justify="space-between" disabled="true">Disabled Checkbox</ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>