<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Button</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Buttons provide a clickable element, which can be used in forms, or anywhere that needs simple, standard button functionality.</p>
  
  <ion-button>Default</ion-button>
  <ion-button disabled="true">Disabled</ion-button>
  <br><br>
  <ion-button fill="outline">Outline</ion-button>
  <ion-button fill="clear">Clear</ion-button>
</ion-content>